//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza's Website"

block append css
	link(rel="stylesheet" href="css/index.min.css")

block body
	main.main-wrapper
		section.content-wrapper.text-center
			a.no-td(href="/")
				img.main-img(src="img/arun-michael-dsouza.jpg" alt="Arun Michael Dsouza's image")
				h1.primary-title Arun Michael Dsouza
			.primary-text.intro-text
				p.
					I'm a Technology Enthusiast, an Open Source Lover and Contributor. I play drums (sometimes), I love to travel and play video games.
				a(target="_blank" href="http://bit.ly/website-github") GitHub
				a(target="_blank" href="http://bit.ly/website-twitter") Twitter
				a(target="_blank" href="http://bit.ly/website-behance") Behance
		section.content-wrapper.text-left
			h2.secondary-title Work
			.secondary-text
				| Currently working on Header Bidding and Ad Layout Optimisation Technology at 
				a(href="https://www.adpushup.com/" target="_blank") AdPushup Inc.
		section.content-wrapper.text-left
			h2.secondary-title Talks / Presentations
			.secondary-text
				ul.ul-reset.talks-list
					each talk in talks
						li #{talk.title}
							if talk.event && talk.event.name
								|  - 
								a(href=talk.event.url target="_blank") #{talk.event.name}
							.talks-links
								if talk.urls && talk.urls.video
									a(href=talk.urls.video target="_blank") Video
								if talk.urls && talk.urls.slides
									a(href=talk.urls.slides target="_blank") Slides
							.location
								img.icon-location(src="img/location.png") 
								span #{talk.location}
				
