//- Blog page template

extends helpers/base

block title
	- var title = `${blogTitle} | Arun Michael Dsouza`

block append css
	link(rel="stylesheet" href="/css/blog.min.css")

block body
	main
		#social-share-fixed.social-share.fixed
			include helpers/socialshare

		article.blog-wrapper
			h1.blog-title
				a(href=`/blog/${url}`)!= blogTitle
			.blog-date 
				| Published on 
				span!= date.toDateString()

			div.blog-content!= content

			#disqus_thread
	
	script(src="/js/blog.min.js")
	script.
		var disqus_config = function () {
			this.page.url = window.location.href;
			this.page.identifier = "#{url}";
		};
		(function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://arunmichaeldsouza.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
		
