//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza"

block append meta
	- var metaTitle = "Arun Michael Dsouza"
	- var metaDescription = "Computer Programmer from India Currently Building Enterprise Products for the Web. International Speaker, Open Source Software Author and Contributor."
	- var metaKeywords = "blog, personal website, technology blog, personal blog, portfolio"
	- var metaURL = "https://arunmichaeldsouza.com/"
	- var metaImage = "https://arunmichaeldsouza.com/img/arun-michael-dsouza.png"

	meta(name="description" content=metaDescription)
	meta(name="keywords" content=metaKeywords)

	meta(property="og:title" content=metaTitle)
	meta(property="og:url" content=metaURL)
	meta(property="og:description" content=metaDescription)
	meta(property="og:image" content=metaImage)

	meta(itemprop="name", content=metaTitle)
	meta(itemprop="description", content=metaDescription)
	meta(itemprop="image", content=metaImage)

	meta(name='twitter:card', content="summary")
	meta(name='twitter:site', content='@amdsouza92')
	meta(name='twitter:title', content=metaTitle)
	meta(name='twitter:description', content=metaDescription)
	meta(name='twitter:creator', content='@amdsouza92')
	meta(name='twitter:image:src', content=metaImage)

block append css
	style.
		html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}[hidden],template{display:none}body,html{font-family:Source Sans Pro,sans-serif;font-size:16px}.text-center{text-align:center}.text-left{text-align:left}.separator{margin-top:40px}.lh{line-height:22px}.ul-reset{padding:0;margin:0;list-style:none}a{color:#4263eb;text-decoration:none}a:hover{cursor:pointer;text-decoration:underline}.icon-location{width:15px;height:15px}.content-wrapper{width:60%;margin:40px auto}@media screen and (max-width:768px){.content-wrapper{width:100%;padding:0 15px;box-sizing:border-box}}.page-primary-title{font-size:2em;margin-bottom:15px}.page-primary-title>a{display:inline-block;color:#1e1e1e;padding-bottom:5px;border-bottom:4px solid #4263eb}.page-primary-title>a:hover{text-decoration:none}@media screen and (max-width:768px){.page-primary-title>a{font-size:1em}}.sub-text{margin-bottom:40px;color:#585858}.sub-text span{color:#4b4b4b;font-weight:700}.pre-text{margin-bottom:10px;color:#585858;font-weight:400}.page-secondary-title{margin:0 0 40px;padding-bottom:10px;border-bottom:1px solid #4263eb}.page-secondary-title>a{color:#1e1e1e}.page-secondary-title>a:hover{text-decoration:none}.talks-list li{margin-top:15px;margin-bottom:15px;padding-bottom:15px;line-height:24px;border-bottom:1px solid #e4e4e4}.location img{vertical-align:middle;margin-right:5px}.content-wrapper{width:45%}@media screen and (max-width:768px){.content-wrapper{width:100%}}.main-img{width:180px;height:180px;border-radius:50%;box-shadow:4px 4px 0 #4263eb}.intro-text{margin:0 auto}.intro-text p{text-align:left}.intro-text p a{margin-right:0}@media screen and (max-width:768px){.intro-text{width:100%}}.page-secondary-title{margin:0}.page-secondary-title svg{color:#4263eb;width:12px;height:auto;margin-left:8px;vertical-align:middle}.intro-text a,.talks-links a{margin:0 8px 0 0}

block body
	main
		section.content-wrapper
				.text-center
					picture.main-img
						source(type='image/webp', srcset='img/arun-michael-dsouza.webp')
						img(src='img/arun-michael-dsouza.png' alt="Arun Michael Dsouza's image")
					h1.page-primary-title
						a(href="/") Arun Michael Dsouza
					.sub-text.intro-text.lh
						p Computer Programmer from India Currently Building Enterprise Products for the Web. Tech Speaker, Open Source Software Author and Contributor. Creator of 
							a(href="https://hyperpush.io/" target="_blank") hyperpush.io
							|.
						p Community Leader for 
							a(href="https://www.meetup.com/React-Delhi-NCR/" target="_blank") React Delhi-NCR
							|  and 
							a(href="https://www.meetup.com/Open-Source-Delhi/" target="_blank") Open Source Delhi
							| . 
						p Plays Drums (Occasionally), Loves Travelling, Listening to Rock Music and Playing Video Games.
						a(target="_blank" href="https://github.com/ArunMichaelDsouza") GitHub
						a(target="_blank" href="https://twitter.com/amdsouza92") Twitter
						a(target="_blank" href="https://www.linkedin.com/in/arunmichaeldsouza/") Linkedin
						a(target="_blank" href="https://www.behance.net/arunmichaeldsouza") Behance
						a(href="/blog") Blog
				.separator
				section
					h2.page-secondary-title.text-left Work
					p.sub-text.text-left.lh
						| Currently Working on Header Bidding and Various Other Ad Revenue Optimisation Technologies at 
						a(href="https://www.adpushup.com/" target="_blank") AdPushup Inc.
				section
					h2.page-secondary-title.text-left 
						a(href="/talks") 
							| Talks / Presentations
							include helpers/chevronRightIcon
					p.sub-text.text-left.lh
						| Talks and Presentations from JSConf Belgium, JSConf Iceland and Other Community Meetups. 
				section
					h2.page-secondary-title.text-left 
						a(href="/open-source") 
							| Open Source
							include helpers/chevronRightIcon
					p.sub-text.text-left.lh
						| Utilities and Modules written in ReactJS, AngularJS, NodeJS, Sass/CSS etc. that get 
						span 1.1M 
						| Downloads every Month!