//- Index page template

extends helpers/base

block title
	- var title = "Arun Michael Dsouza's Website"

block append css
	link(rel="stylesheet" href="css/index.min.css")

block body
	main
		section.content-wrapper.text-center
				img.main-img(src="img/arun-michael-dsouza.png" alt="Arun Michael Dsouza's image")
				h1.page-primary-title
					a(href="/") Arun Michael Dsouza
				.sub-text.intro-text.lh
					p Computer Programmer from India Currently Building Enterprise Products for the Web. Speaker at JSConf and Various Other Conferences. Open Source Software Author and Contributor.
					p Organises 
						a(href="https://www.meetup.com/React-Delhi-NCR/" target="_blank") React Delhi-NCR
						|  and 
						a(href="https://www.meetup.com/Open-Source-Delhi/" target="_blank") Open Source Delhi
						|  Community Meetups. 
					p Plays Drums (Occasionally), Loves Travelling, Listening to Rock Music and Playing Video Games.
					a(target="_blank" href="https://github.com/ArunMichaelDsouza") GitHub
					a(target="_blank" href="https://twitter.com/amdsouza92") Twitter
					a(target="_blank" href="https://www.behance.net/arunmichaeldsouza") Behance
					a(target="_blank" href="/blog") Blog
				.separator
				section
					h2.page-secondary-title.text-left Work
					p.sub-text.text-left.lh
						| Currently Working on Header Bidding and Ad Layout Optimisation Technology at 
						a(href="https://www.adpushup.com/" target="_blank") AdPushup Inc.
				section
					h2.page-secondary-title.text-left Talks / Presentations
					ul.ul-reset.talks-list.text-left
						each talk in talks
							li #{talk.title}
								if talk.eventName
									|  - 
									a(href=talk.eventUrl target="_blank") #{talk.eventName}
								.talks-links
									if talk.videoUrl
										a(href=talk.videoUrl target="_blank") Video
									if talk.slidesUrl
										a(href=talk.slidesUrl target="_blank") Slides
								.location
									img.icon-location(src="/img/location.png") 
									span #{talk.location}