//- Open source projects page template

extends helpers/base

block title
	- var title = "Open Source | Arun Michael Dsouza"

block append meta
	meta(name="description" content="Utilities and Modules written in ReactJS, AngularJS, NodeJS, Sass/CSS etc. that get 1.1M Downloads every Month!")
	meta(name="keywords" content="projects, personal projects, personal website")
	meta(property="og:title" content="Open Source | Arun Michael Dsouza")
	meta(property="og:url" content="http://arunmichaeldsouza.com/open-source")
	meta(property="og:description" content="Utilities and Modules written in ReactJS, AngularJS, NodeJS, Sass/CSS etc. that get 1.1M Downloads every Month!")
	meta(property="og:image" content="http://arunmichaeldsouza.com/img/arun-michael-dsouza.png")

block append css
	link(rel="stylesheet" href="/css/openSource.min.css")

block body
	include helpers/header
	main
		section.content-wrapper
			h1.page-primary-title
				a(href="/open-source") Open Source
			.sub-text.lh
				| Utilities and Modules written in ReactJS, AngularJS, NodeJS, Sass/CSS etc. that get 
				span 1.1M 
				| Downloads every Month!
			section(style="margin: 0 -10px;")
				each project in projects
					.info-panel.split
						.pre-text
							span!= project.language
						h2.page-secondary-title
							a(href=project.url target="_blank")!= project.title
						p
							a(href=project.url target="_blank")
								img(src=project.image)
						.pre-text.lh.desc!= project.description
						p
							span(style="margin-right: 8px;")
								a.github-button(href=project.url, data-icon='octicon-star', data-size='large', data-show-count='true', aria-label='Star ArunMichaelDsouza/tensorflow-image-detection on GitHub') Star
							a.github-button(href=`${project.url}/fork`, data-icon='octicon-repo-forked', data-size='large', data-show-count='true', aria-label='Fork ArunMichaelDsouza/tensorflow-image-detection on GitHub') Fork

	script(async='', defer='', src='https://buttons.github.io/buttons.js')

