//- Talks page template

extends helpers/base

block title
	- var title = "Talks | Arun Michael Dsouza"

block append css
	link(rel="stylesheet" href="/css/talks.min.css")

block body
	include helpers/header
	main
		section.content-wrapper
			h1.page-primary-title
				a(href="/talks") Talks
			.sub-text.lh
				| Talks and Presentations from JSConf Belgium, JSConf Iceland and Other Community Meetups.
			each talk in talks
				.info-panel
					.pre-text
						span!= talk.eventDate.toDateString()
					h2.page-secondary-title
						if talk.videoUrl
							a(href=talk.videoUrl target="_blank")!= talk.title
						else 
							a(href=talk.slidesUrl target="_blank")!= talk.title
					if talk.eventName
						p
							a(href=talk.eventUrl target="_blank")!= talk.eventName
					p
						if talk.videoUrl
							a(href=talk.videoUrl target="_blank" style="margin-right: 8px;") Video
						a(href=talk.slidesUrl target="_blank") Slides
					p
						img.icon-location(src="/img/location.png") 
						span #{talk.location}