//- Blog editor template

extends ../helpers/base

block title
	- var title = "CMS - Blog Editor"
	- var subTitle = "Create or edit a blog post"

block append meta
	meta(name="robots" content="noindex")

block append css
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/CSS-Mint/2.0.6/css-mint.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.3/dist/css/themes/default.min.css")
	link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor-insert-plugin@2.5.0/dist/css/medium-editor-insert-plugin.min.css")
	link(rel="stylesheet" href="/css/cms.min.css")
	style.
		.editor-card {
			background-color: #fff;
		}
		.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
			margin-left: -52px;
			margin-top: -5px;
		}
		.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons {
			left: 0;
		}
		.title {
			width: 100%;
		}
		input {
			margin-bottom: 15px;
		}
		label {
			font-weight: 700;
			font-size: 1.5em;
			display: block;
			margin-bottom: 15px;
			margin-top: 30px;
		}
		.btn-draft,
		.btn-html-editor {
			margin-right: 15px;
			margin-bottom: 30px;
		}
		.btn-draft,
		.btn-publish,
		.btn-html-editor {
			width: 200px;
		}
		blockquote {
			font-style: italic;
			border-left: 3px solid #000;
			padding-left: 20px;
			margin: 0;
		}
		figcaption > p {
			font-style: normal;
			color: #444;
		}
		.meta {
			border-bottom: 1px solid #ddd;
		}
		.meta > input {
			margin-right: 15px;
		}
		.buttons {
			margin-top: 50px;
		}
		.html-editor > textarea {
			margin-top: 15px;
			width: 100%;
			height: 250px;
			resize: none;
		}
	script.
		var blogTitle = "#{blogTitle}";
		var blogContent = "#{blogContent}";
		var blogDate = "#{blogDate}";
		var blogId = "#{_id}";
		var metaDescription = "#{metaDescription}";
		var metaKeywords = "#{metaKeywords}";
		var metaImage = "#{metaImage}";

block body
	include cmsHeader
	.cm-text-center
		a(href="javascript:window.history.back()") Go back
	.cm-grid
		.cm-row
			include logoutButton
			form
				.cm-col-12
					label Blog title
					input#title.title(type="text" placeholder="Enter blog title" name="blogTitle" required)
					label Blog publish date (optional)
					input#date(type="date" placeholder="Blog publish date (optional)" name="blogDate")
				.cm-col-md-12
					label Blog content
					.cm-card.editor-card
						.cm-card-body(style="padding: 60px;")
							.editor
				.cm-col-md-12
					.meta
						input#metaDescription(type="text" name="metaDescription" placeholder="Enter meta description")
						input#metaKeywords(type="text" name="metaKeywords" placeholder="Enter meta keywords")
						input#metaImage(type="url" name="metaImage" placeholder="Enter meta image URL")
				.cm-col-md-12.html-editor(style="display:none")
					textarea#html-editor
				.cm-col-sm-7.cm-col-sm-offset-5.cm-text-right.buttons
					button.cm-btn.warning.btn-html-editor#btn-html-editor HTML editor
					button.cm-btn.primary.btn-draft.editor-btn(data-mode="draft") Save draft
					button.cm-btn.success.btn-publish.editor-btn(data-mode="publish") Publish

	script(src="/js/editor.min.js")